

.navbar {
    width:95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-container {
    background-image: url("/Users/carternetzley/Code Academy/project 2 (flex)/index.html/resources/images/img-mission-background.webp");
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    
}
.img-container h2{
    text-align: center;
}
.inner-container {
    display:flex;
    background-color: black;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column; 

}

.head {
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 20px;
    padding-top: 20px;
}

.img-grid {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.img-grid img{

    padding-top: 10px;
    width: 200px;
    height: 300px;
    text-align: center;
}


@media(max-width:1280px) {
.container {
    width: 1280px;
    margin: auto;
    }
}
